{% extends 'main.html' %}
{% load static %}



{% block content %}
<div class="autenticar-contenedor"> 
    
    <form method="POST" action="" >
        {% csrf_token%}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Usuario</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">        
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="contra" >
        </div>
        <button type="submit" class="btn btn-primary" value="Entrar">Entrar</button>
      </form>
   
      
        {% if messages %}
    
        {% for message in messages %}
        <li> {{ message }}  </li>
        {% endfor %}
    
    {% endif %}
</div>

{% endblock content %}